<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar</title>
</head>
<body>
    <h1>Cadastre-se</h1>
    <form action="/users/save" method="post">
        <div>
            <input type="text" name="usuario" placeholder="Digite seu usuario">
        </div>
        <div>
            <input type="text" name="senha" placeholder="Digite sua senha">
        </div>
        <div>
            <input type="submit" value="cadastrar">
        </div>
    </form>
</body>
</html>